<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
  <div id = "user_nav" class = "maincolor">
    <div id = "user_nav_container">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('Edit Profile', edit_user_registration_path) %> |
          <%= link_to('All Recipes', recipes_path) %> |
          <%= link_to('New Recipe', new_recipe_path) %> |
          <%= link_to('Home','/hello.html') %>

      <% else %>
          <%= link_to('Login', new_user_session_path)  %> |
          <%= link_to('Register', new_user_registration_path)  %>
      <% end %>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>


<%= yield %>

</body>
</html>
