<div class = "container-fluid">

  <h1 class="bigfont maincolor recipe_pg_title">ALL RECIPES</h1>

    <div id="newest_recipes" class="row">
      <h3 class="maincolor">Try Our Newest Recipes:</h3>
        <% if !@newest_recipe.nil? %>
          <h3> <%= link_to @newest_recipe.title, @newest_recipe %></h3>
          <p><%= link_to image_tag(@newest_recipe.image.url(:large)), @newest_recipe %></p>
        <% else %>
          <h3 class="maincolor">No New Recipes Found</h3>
        <% end %>
    </div>

    <div class="row">
      <% @recipes.each do |recipe| %>
        <div id="recipe_card">
          <h3 class="maincolor recipe_card_title"> <%=link_to recipe.title, recipe%></h3>
          <%= link_to image_tag(recipe.image.url(:med)), recipe %>
          <p>by</br><%= recipe.author %></p>
          <p>
            <% if !recipe.ratings.empty? %>
              <%= recipe.average_rating %>  <i class="fa fa-star"></i>
            <% else %>
              <%= 'Not rated yet' %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>

</div>
